body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.logo-img {
  max-height: 100px;
  width: auto;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  background: transparent;
  z-index: 100;
}

#navbar {
  display: flex;
  list-style: none;
}

#navbar li {
  padding: 0 40px;
}

#navbar a {
  text-decoration: none;
  font-weight: 600;
  color: #1a1a1a;
}

#navbar a.active {
  color: white;
}

.hero {
  height: 100vh;
  background: url("https://i.imghippo.com/files/Shu7030BuY.jpeg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 4rem;
}

.hero-text p {
  font-size: 1.5rem;
}

#picture1 {
  
  text-align: center;
  padding: 100px;
  background: linear-gradient(to right, #eceffe, #ced6fb);
}

.pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pro {
  width: 22%;
  background: white;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.pro img {
  width: 100%;
  border-radius: 20px;
}

.exclude-section {
  text-align: center;
  margin-top: 60px;
}

.exclude-section input {
  padding: 8px;
  font-size: 16px;
}

.exclude-section button {
  padding: 8px 15px;
  background: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px auto;
  gap: 10px;
  max-width: 700px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.circle:hover {
  transform: scale(1.1);
}

#resetBtn {
  padding: 10px 20px;
  background: #e63946;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 80px;
  cursor: pointer;
}


